/* Salmon Colors */
/* Dark Green: #252624 */
/* Dark Orange: #994726 */
/* Mustard Yellow: #e0c778 */
/* Light Gray: #d5d3cd */
/* Gold: #ba9648 */
/* Charcoal: #262732 */

body {
  width: 80%;
}


/* Nav Styling */
  #header {
    background: #252624;
    box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.1);
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  #header nav {
    height: 5em;
    left: 0;
    line-height: 5em;
    width: 100%;
    position: absolute;
    top: 0;
  }

  #header nav ul {
    margin: 0;
    width: 100%;
  }

  #header nav ul li {
    color: #e0c778;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
  }

  #header img {
    display: inline-block;
    vertical-align: center;
    width: 10em;
  }