/* Salmon Colors */
/* Dark Green: #252624 */
/* Dark Orange: #994726 */
/* Mustard Yellow: #e0c778 */
/* Light Gray: #d5d3cd */
/* Gold: #ba9648 */
/* Charcoal: #262732 */

* {
  box-sizing: border-box;
}

body {
  background-image: url(./../img/cookiesheet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/********************** 
* Nav Styling 
*/
  #header {
    background: #252624;
    box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.1);
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  #header section:first-of-type {
    width: 100%;
  }
  
  #header section:last-of-type {
    display: none;
  }

  #header section:last-of-type nav {
    height: 5em;
    left: 0;
    line-height: 5em;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #header section:last-of-type nav ul:first-of-type {
    float: left;
    margin-left: 20%;
  }
  
  #header section:last-of-type nav ul:last-of-type {
    float: right;
    margin-right: 20%;
  }
  
  #header section:last-of-type nav ul li {
    display: inline-block;
    font-size: 0.9em;
    text-align: center;
  }
  
  #header section:last-of-type nav ul li a {
    color: #e0c778;
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    text-decoration: none;
  }

  #header img {
    display: inline-block;
    vertical-align: center;
    width: 10em;
  }

/********************** 
* Main Content Styling 
*/
